nav{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(54, 158, 206);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    gap:10px;
}
nav a{
    
    color: white;
    text-decoration: none;
}
nav li{
    
    list-style-type: none;
    margin: 0 15px;
}
form{
    
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

form input[type="text"]{
    
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

form input[type="submit"]{
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(54, 158, 206);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.id2
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(54, 158, 206);
    text-align: center;
    margin-top: 20px;   
    background-color:floralwhite;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;

}

.id1 
{
    justify-content: center;
    text-align: center;
}

form label
{
    margin: 10px;
   
}

form-group
{
    margin: 10px;
}           

.login-container
{
    background-color: floralwhite;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    justify-content: center;
}

.login-container h2
{
    text-align: center;
    color: rgb(54, 158, 206);
}

.login-container .button
{
    text-align: center;
    margin-top: 20px;
}   

.signup-container
{
    background-color: floralwhite;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    justify-content: center;
}